/traefik/letsencrypt/acme.json
/traefik/conf/.*
/traefik/conf/*
/prometheus
.env
/keycloakBackup/*
*.code-workspace
.vscode
DONTREADME.md
docker-compose.override.yml
/ddclient/.run
/ddclient/config/ddclient.conf
dumpcert/docker-compose.yml.xxx
dumpcert/letsencrypt/acme.json
dumpcert/letsencrypt/certificate.pem
dumpcert/letsencrypt/privatekey.pem
dumpcert/letsencrypt/dump/certs/grooms.page.crt
dumpcert/letsencrypt/dump/private/grooms.page.key
dumpcert/letsencrypt/dump/private/letsencrypt.key
